DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DEFAULT_DB_NAME=
DEFAULT_DB_USER=
DEFAULT_DB_PASSWORD=
DEFAULT_DB_HOST=
DEFAULT_DB_PORT=5432

DBETA_DB_NAME=
DBETA_DB_USER=
DBETA_DB_PASSWORD=
DBETA_DB_HOST=
DBETA_DB_PORT=5432
DBETA_DB_SEARCH_PATH=idrogeno,public